
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html{
    overflow-x:hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:"poppins";
    scroll-behavior: smooth;
    outline: none;
    border: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
   
    background: black;
}
section{
    color: white;
}


.head {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    justify-content: space-between;
    background: rgba(74, 74, 74, 0.37);
    backdrop-filter: blur(15px);
}

.navigationbarho {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.7rem;
}
.moneylogo {
    position: relative;
    height: 2cm;
    width: 3cm;
    animation: slideTop .5s ease forwards;
    opacity: 0;
    animation-delay: .2s;

}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.navigationbarho a{
    text-decoration: none;
    display: inline-block;
    margin-left: 4rem;
    animation: slideTop .5s ease forwards;
    opacity: 0;
    animation-delay: calc(.2s*var(--clr));
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.navigationbarho,
.navigationkolist {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.hacker,
.navigation_item,
.button {
    color: #fff;
}

.hacker {
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
    
    
}

.navigationkolist{
    column-gap: 10px;
}

.navigation_item:hover {
    color: orangered;
    transition: 1s;
}


.button {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.button:hover{

    background: orangered;
    
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.homekodescription {
    color: white;
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
   
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homekodescription h3{
    font-size: 3rem;
    font-weight: 400;
    animation: slideTop .8s ease forwards;
    opacity: 0;
    
}

.homekodescription h1{
    font-size: 4.5rem;
    margin: -3px 0;
   
    
}

.homekodescription p{
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 1;
    text-align: justify;
    

}

.colortospan{
    color: orangered;
    font-size: 5rem;
}
.home .logohacker {
    display: flex;
    width: 25vw;
    height: 10cm;
    animation: Zoom 1s ease forwards ,Float 4s ease-in-out;
    animation-delay:2s,3s ;
    opacity: 0;

}
@keyframes Zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes Float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-24px);
        opacity: 1;
    }
    100% {
            transform: translateY(0);
            opacity: 1;
    }
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before {
    opacity: 1;
    pointer-events: auto;
}
.aboutsection{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    
}
.aboutimage img{
        
        width: 18vw;
        height: 6cm;
}
.aboutsection p{
    color: orangered;
}

.aboutheading{
    text-align: center;
    font-size:4rem;
}

.abouttext h2 {


    text-align: center;
    line-height: 1.2;
    
}
.abouttext h3{
    text-align: center;
    font-size: 1.5rem;
}
.abouttext p{
    font-size: medium;
    text-align: justify;
    margin:1rem 0 2rem 0;
}

.servicekosection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.servicekosection .servicebox{
    flex: 1 1 30rem;
    padding:3rem 2rem 4rem ;
    border-radius: 4rem;
    background-color: #111;
    text-align: center;
    border: 3px solid #000;
    transition: .5s ease;
}
.servicebox:hover{
    border: 2px solid orangered;
    transform: scale(1.15);
}
.service h2{
    margin-bottom: 5rem;
}
.service h3{
    font-size: 2.6rem;
}
.servicebox p{
    font: 1.6rem;
    margin: 1rem 0 3rem;
}
footer{
    background-color: rgba(74, 74, 74, 0.37);
    backdrop-filter: blur(15px);
}
.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}
span{
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
.input-group {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input-group input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input-group input:focus {
    border-color: #383739;
}

.input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}

.input-group i.email,
.input-group i.password {
    left: 0;
}

.input-group input:focus~i.email,
.input-group input:focus~i.password {
    color: #ccc5d4;
}

.input-group i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}
.input-group span i{
    color: lightgreen;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: #cac6cf;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}

.checkbox input {
    accent-color: #b6afbd;
}

.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.form_container .button {
    background: #adbdbc;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.logintosignup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    transition: all 1s ease;
}
.contact h2{
    margin-bottom: 3rem;

}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
form .contactform{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footerform .contactinput,textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    border-radius: .8rem;
    gap:2.5rem;
    margin: .7rem 0;
}
.footerform .contactinput{
    width: 49%;
}
textarea{
    resize: none;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:990px){
    .head{
        padding: 2rem 3%;

    }
    section{
        padding: 10rem 3% 2rem;
    }
}


